#grid-board {
    background: url(../img/board.jpg) no-repeat center center;
    width: 500px;
    padding: 0;
}

#grid-row {
    margin: 0;
}

.cell {
    width: 50px;
    height: 50px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    background: transparent;
    float: left;
}
/* end cell */

/* begin bead */
.bead {
    /*margin: 17px auto;*/
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    /*text-shadow: 4px 4px #1f0000;*/
}

.red-bead {
    margin: 5px auto;
    background-color: rgba(255, 63, 7, 0.75);
}

.blue-bead {
    margin: 5px auto;
    background-color: rgba(28, 52, 200, 0.75);
}
/* end bead */

