body {
    background-color: #fff6e8;
    /*background-color: red;*/
}

#loading{
    margin: 30px auto;
    position: relative;
    max-width: 300px;
    height: auto;
}

#main-game-grid {
    margin: 10px auto;
}

#roll-dice {
    margin-top: 20px;
}

#my-dice {
    margin-top: 20px;
}

.dice-image {
    width: 50px;
    height: 50px;
}

.result-image {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}